*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html,body {
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-image: linear-gradient(#000000,#252525); */
  background-color: black;
  width: 100vw;
  overflow: none;
}

button{
  padding: 1.2% 0.5%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

input{
  padding: 2.5%;
  /* height: 50px; */
  margin-top: -10px;
  border: 1px solid black;

}

input:focus{
  outline-width: 0;
  /* margin: 0; */
  margin-top: -10;
  border: 1px solid black;
}

label{
  mix-blend-mode: difference;

}

.testBox{
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
}


.checkCon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cb1, .night{
  margin: 0;
  /* padding-left: 5px; */
}

.videoWrap{
  position: relative;
  display: flex;
  flex-direction: column;
}

.videoWrap::before,.videoWrap::after{
  position: absolute;
  width: 100%;
  height: 100px;
  content: "";
}

.videoWrap::before{
  background: url('./svg/wave-top.svg');
  top: 80%;
}

.videoWrap::after{
  background: url('./svg/wave-bottom.svg');
  bottom: 0%;
  top: 100%;
}

.confetti{
  object-fit: cover;
  width: 100vw;
  user-select: none;
  /* position: relative; */
}

.heroTcontainer{
  position: absolute;
  top: 20%;
  /* top: -200px; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red 1px solid; */
  z-index: 5;
  gap: 10px;
  flex-direction: column;
}

.heroTitle{
  font-size: 1.5em;
  color: white;
  text-align: center;
  z-index: 5;
  border-bottom: 1px solid white;
}

.heroSub{
  color: white;
  font-size: 1em;
  text-align: center;

}

/* .mainArea{
  height: 1500px;
} */

.galleryContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
}

.images{
  /* width: fit-content; */
}

/* .card{
  box-shadow: 2px 1px 10px white;
  border-radius: 2px;
  height: 250px;
  width: 250px;
  position: absolute;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
} */

.title{
  background-color: rgba(255,255,255,0.8);
  font-size: 1.2em;
  /* padding-left: 5px; */
  padding: 5px;
  border-bottom: black 1px solid;
  /* border-radius: 5px; */
}

.desc{
  background-color: rgba(255,255,255,0.8);
  /* font-size: 0.9em; */
  padding: 5px;
  /* border-radius: 5px; */
  /* border-bottom: 1px solid white; */
  
}

.footer{
  /* height: 50px; */
  position: absolute;
  width: 100vw;
  /* background-color: white; */
  /* z-index: 10; */
  padding: 5px;
  text-align: center;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: white 1px solid;
  /* bottom: -100%; */
  /* margin-top: 50px; */
}


.canvas{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  user-select: none;
}

.goHome{
  position: absolute;
  bottom: 2%;
  left: 1%;
  padding: 1.5% 1.5%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  /* width: 2rem;
  height: 1rem; */
}

.goHome:hover{
  background-color: rgb(192, 192, 192);
}

/* flow particles page */



.galleryContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  padding: 25px;
  padding-top: 75px;
  gap: 20px;
  background-color: black;
  justify-items: center;
}

.container{
  position: absolute;
  /* background-color: black; */
  /* top: 10px; */
  /* border: 1px red solid; */
  z-index: 99;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  gap: 15px;
  /* padding: 0.5%; */
  margin-left: 10px;
  width: 200px;

}

.totals {
  font-size: 0.9em;
}



.hide{
  position: absolute;
  bottom: 2%;
  left: 150px;
  padding: 1.5% 1.5%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
  /* margin-left: 10%; */
}

@media (min-width:750px) {
  button{
    padding: 0.5% 0.5%;
  }

  .goHome{
    padding: 0.5% 0.5%;
  }

  .hide{
    padding: 0.5% 0.5%;
  }
}
